<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <strong>Jogo da Forca</strong>
      <h1>
        <strong>Dificuldade: {{ dificultyTag | uppercase }}</strong>
      </h1>
      <h2>
        <strong>
          Tempo Restante: 
          <br /> 
          <span id="time-left"> {{ timeLeft() | timeFormat }} </span>
        </strong>
      </h2>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="game-container">
    <pre class="hangman">
  _______ 
  |     | 
 |     {{ dummy.head }}
  |    {{ dummy.leftArm }}{{ dummy.body }}{{ dummy.rightArm }}
  |    {{ dummy.leftLeg }} {{ dummy.rightLeg }}
 _|_      
    </pre>
    <div class="word">
      @for (letter of wordProgress; track $index) {
        <span>{{ letter }}</span>
      }
    </div>

    <ion-item>
      <ion-input
        type="text"
        maxlength="1"
        [(ngModel)]="typedLetter"
        placeholder="Digite uma letra"
      ></ion-input>
      <ion-button (click)="verifyLetter()" appHighlight>Tentar</ion-button>
    </ion-item>

    <div class="errors">
      <strong>Letras erradas:</strong> {{ wrongLetters.join(', ') }}
    </div>

    <div id="game-result">
      @if (gameEnded && !this.wordProgress.includes('_')) {
        <span style="color: green">Você ganhou, seu fodão safado!</span>
      } @else if (gameEnded) {
        <span style="color: red">Você perdeu, seu merdinha!</span>
      }
    </div>

  <ion-button id="backButton" (click)="goToHome()" appHighlight>
      Voltar
  </ion-button>
  </div>
</ion-content>
