<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <strong>Jogo da Forca</strong>
      <h1>
        <strong>Dificuldade: {{ dificultyTag }}</strong>
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="game-container">
    <pre class="hangman">
  _______ 
  |     | 
 |     {{ dummy.head }}
  |    {{ dummy.leftArm }}{{ dummy.body }}{{ dummy.rightArm }}
  |    {{ dummy.leftLeg }} {{ dummy.rightLeg }}
 _|_      
    </pre>
    <div class="word">
      @for (letter of wordProgress; track $index) {
        <span>{{ letter }}</span>
      }
    </div>

    <ion-item>
      <ion-input
        type="text"
        maxlength="1"
        [(ngModel)]="typedLetter"
        placeholder="Digite uma letra"
      ></ion-input>
      <ion-button (click)="verifyLetter()">Tentar</ion-button>
    </ion-item>

    <div class="errors">
      <strong>Letras erradas:</strong> {{ wrongLetters.join(', ') }}
    </div>

  </div>
</ion-content>
