<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Adivinhe o País 🌍
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Selecione a dificuldade:</h2>

  <ion-select [(ngModel)]="dificulty">
    <ion-select-option value="easy">Fácil</ion-select-option>
    <ion-select-option value="medium">Médio</ion-select-option>
    <ion-select-option value="hard">Difícil</ion-select-option>
  </ion-select>

  <ion-button expand="block" (click)="startGame()">Jogar</ion-button>
</ion-content>
