#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}
#container a {
  text-decoration: none;
}
ion-content {
  --background: transparent;
  position: relative;
}
ion-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/332156.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}
ion-title {
  text-align: center;
}
.forca {
  align-items: center;
  align-self: center;
  text-align: center;

}

h2 {
  text-align: center;
}
ion-select {
  width: 200px;
  margin: 20px auto;
  display: block;
}
ion-button {
  display: block;
  margin: 20px auto;
  width: fit-content;
}






//so pra ver como fica o titulo 



ion-header, ion-toolbar {
  background: transparent !important;
  --background: transparent !important;
}