<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Adivinhe o País
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <pre class="forca">
  _______ 
  |     | 
  |     O 
  |    /|\
  |    / \
 _|_      
  </pre>
  <h2><strong>Selecione a Dificuldade:</strong></h2>      

  <ion-select [(ngModel)]="dificulty">
    <ion-select-option value="easy">Fácil</ion-select-option>
    <ion-select-option value="medium">Médio</ion-select-option>
    <ion-select-option value="hard">Difícil</ion-select-option>
  </ion-select>

  <ion-button shape="round" fill="outline" (click)="startGame()">Jogar</ion-button>
</ion-content>
